
{% macro hasErrors(field) %}
	{% if form_errors(field)|length > 1 %}
		{{ 'error' }}
	{% endif %}
{% endmacro %}

{% block field_errors %}
	{% spaceless %}
	  {% if errors is defined and errors|length > 0 %}
		{% for error in errors %}
		  <span class="help-inline error">{{ error.messageTemplate|trans(error.messageParameters, 'validators') }}</span>
		{% endfor %}
	  {% endif %}
	{% endspaceless %}
{% endblock field_errors %}

{% block field_row %}
	<div class="control-group {{_self.hasErrors(form)}}">
		<div class="control-label">
			{{ form_label(form) }}
		</div>
		<div class="controls controls-row">
			{% set attr = attr|merge({'class': attr.class|default('span12')}) %}
			
			{{ form_widget(form, {'attr': attr}) }}
			{{ form_errors(form) }}
		</div>
	</div>
{% endblock field_row %}

{% block checkbox_row %}
	<div class="control-group {{_self.hasErrors(form)}}">
		<div class="controls controls-row">
			{% set attr = attr|merge({'class': attr.class|default('span12')}) %}
			
			{{ form_widget(form, {'attr': attr}) }}
			{{ form_errors(form) }}
		</div>
	</div>
{% endblock checkbox_row %}

{% block checkbox_widget %}
{% spaceless %}
	{% if form.hasParent() and 'choice' not in form.parent.vars.block_prefixes %}
		<label class="checkbox{% if inline is defined and inline %} inline{% endif %}">
	{% endif %}
			<input type="checkbox" {{ block('widget_attributes') }}{% if value is defined %} value="{{ value }}"{% endif %}{% if checked %} checked="checked"{% endif %}/>
	{% if form.hasParent() and 'choice' not in form.parent.vars.block_prefixes %}
			{{ label|trans({}, translation_domain) }}
		</label>
	{% endif %}
{% endspaceless %}
{% endblock checkbox_widget %}

{% block datetime_widget %}
	{{ form_widget(form, {'type':'datetime-local'}) }}
{% endblock %}
