<!DOCTYPE html>
<html lang="pl">
<head>
	<meta charset="UTF-8" />
	<title>{% block title %}SmartKill{% endblock %}</title>
	<link rel="stylesheet" href="{{ asset('style/style.css') }}" />
	<link rel="icon" href="{{ asset('favicon.ico') }}" />
</head>
<body>
	<section class="navbar navbar-inverse navbar-fixed-top">
		<div class="navbar-inner">
			<div class="container">
				<div class="nav-collapse collapse">
					{% if app.user %}
						<p class="navbar-text pull-right">
							Witaj <strong><a href="#" class="navbar-link">{{ app.user.username }}</a></strong> | 
							<a href="{{ path('logout') }}" class="navbar-link">Wyloguj</a>
						</p>
					{% else %}
						<form action="{{ path('login_check') }}" method="post" class="navbar-form pull-right">
							<input type="text" name="_username" class="span2" placeholder="Login">
							<input type="password" name="_password" class="span2" placeholder="Hasło">
							<button type="submit" class="btn">Zaloguj</button>
						</form>
					{% endif %}
					
					<ul class="nav">
						<li class="active"><a href="{{ path('index') }}">Home</a></li>
						<li><a href="{{ path('match') }}">Mecze</a></li>
						<li><a href="{{ path('ranking') }}">Ranking</a></li>
						<li><a href="{{ path('contact') }}">Kontakt</a></li>
					</ul>
				</div>
			</div>
		</div>
	</section>
    
	<section id="container" class="container">
		<div id="top">
			<a href="{{ path('index') }}"><img src="{{ asset('style/logo.png') }} " alt="" /></a>
			
			<h1>
				<a href="#">SmartKill</a><br />
				<small>Miejskie polowanie telefonem</small>
			</h1>
		</div>
		
		{% for flashMessage in app.session.flashbag.get('notice') %}
			<div class="alert alert-error">
				<em>Notice</em>: {{ flashMessage }}
			</div>
		{% endfor %}
		
		{% block content %}
		
		{% endblock %}
		
		<footer id="footer">
			&copy; SmartKill 2012
		</footer>
	</section>
</body>
</html>
