{% extends 'SmartkillWebBundle::layout.html.twig' %}
{% form_theme form 'SmartkillWebBundle:Form:horizontal.html.twig' %}
{% import 'SmartkillWebBundle:Profile:macros.html.twig' as macros %}

{% block title %}SmartKill - Zmień awatar{% endblock %}

{% block content %}
	
	{{ macros.menu('edit') }}
	
	<div class="block">
		<h2>Zmień awatar</h2>
		
		<div class="row-fluid">
			<div class="span7">
				<form action="{{ app.request.getRequestUri }}" method="post" {{ form_enctype(form) }} class="form-horizontal">
					{{ form_row(form.avatarFile) }}
					{{ form_rest(form) }}
					
					<div class="pull-right">
						<a href="{{ path('profile_edit') }}">Anuluj</a>
						<span class="muted">lub</span>
						<button class="btn btn-primary btn-large" type="submit">Zapisz</button>
					</div>
				</form>
			</div>
			<div class="span4 pull-right">
				<div class="thumbnail">
					<img src="{{ entity.getAvatarUrl | imagine_filter('avatar_large') }}" />
				</div>
			</div>
		</div>
	</div>

{% endblock %}
