{% extends 'SmartkillWebBundle::layout.html.twig' %}
{% form_theme form 'SmartkillWebBundle:Form:horizontal.html.twig' %}
{% import 'SmartkillWebBundle:Profile:macros.html.twig' as macros %}

{% block title %}SmartKill - Edytuj profil{% endblock %}

{% block content %}

	{{ macros.menu('edit') }}
	
	<div class="block">
		<h2>Edytuj profil</h2>
		
		<div class="row-fluid">
			<div class="span7">
				<form action="{{ app.request.getRequestUri }}" method="post" {{ form_enctype(form) }} class="form-horizontal">
					{{ form_row(form.email) }}
					
					<fieldset>
						<legend>Zmień hasło</legend>
						<br />
						<div class="alert alert-info">
							Jeśli nie chcesz zmieniać hasła, pozostaw poniższe pola puste.
						</div>
						
						{{ form_widget(form) }}
					</fieldset>
					
					<div class="pull-right">
						<a href="{{ path('profile') }}">Anuluj</a>
						<span class="muted">lub</span>
						<button class="btn btn-primary btn-large" type="submit">Zapisz</button>
					</div>
				</form>
			</div>
			<div class="span4 pull-right">
				<div class="thumbnail">
					<img src="{{ entity.getAvatarUrl | imagine_filter('avatar_large') }}" />
					<div class="caption pull-center">
						<a href="{{ path('profile_avatar') }}" class="btn"><i class="icon-user"></i> Zmień avatar</a>
					</div>
				</div>
			</div>
		</div>
	</div>

{% endblock %}
