{% extends 'SmartkillWebBundle::layout.html.twig' %}
{% form_theme form 'SmartkillWebBundle:Form:horizontal.html.twig' %}

{% block title %}SmartKill - Kontakt{% endblock %}

{% block content %}

<div class="row-fluid">
	<div class="span8">
		<div class="block">
			<h2>Kontakt</h2>
			
			<p>Masz pytania, uwagi lub chcesz nam powiedzieć jak Ci się grało w SmartKilla? 
			Po prostu napisz do nas.</p>
			<br />
			<form action="{{ path('contact')}}" method="post" {{ form_enctype(form) }} class="form-horizontal">
				{{ form_row(form.name) }}
				{{ form_row(form.email) }}
				{{ form_row(form.subject) }}
				{{ form_row(form.msg, {attr:{rows:8}}) }}
					
				<button class="btn btn-primary btn-large pull-right" type="submit">Wyślij</button>
			</form>
		</div>
	</div>
	<div class="span4">
		<div class="block" style="text-align: center;">
			<img src="{{ asset('style/logo.png') }}" alt="" />
		</div>
	</div>
</div>

{% endblock %}
