{% extends 'SmartkillWebBundle::layout.html.twig' %}

{% block title %}SmartKill - Strona główna{% endblock %}

{% block top %}top-big{% endblock %}

{% block content %}

<div class="row-fluid">
	<div class="span6">
		<div class="block">
			<h2>SmartKill</h2>
			
			<p class="lead">Miejskie polowanie telefonem to gra dla każdego posiadacza 
			smartfonu z androidem, który lubi adrenalinę.</p>
			
			<a href="smartkill.apk" class="pull-right" style="margin-left: 20px">
				<img src="http://chart.apis.google.com/chart?cht=qr&chs=200x200&chl=http%3A//smartkill.pl/smartkill.apk&chld=H|0"/>
			</a>
			
			<p>Wciel się w postać elektronicznego mordercy lub ofiary. Graj w terenie, a 
			nie tylko przed ekranem komputera! Rusz się i poczuj w końcu, że żyjesz! Poczuj 
			oddech mordercy na swoich plecach i pokaż, że potrafisz znaleźć każdego. Bądź 
			bystry i szybki. Po prostu zagraj w SmartKill!</p>
		</div>
	</div>
	<div class="span6">
		<div class="block">
			{% if form is defined %}
				{% form_theme form 'SmartkillWebBundle:Form:horizontal.html.twig' %}
				
				<h2>Zarejestruj się</h2>
				
				<form action="{{ path('register')}}" method="post" {{ form_enctype(form) }} class="form-horizontal">
					{{ form_widget(form) }}
					
					<button class="btn btn-primary btn-large pull-right" type="submit">Zarejestruj mnie!</button>
				</form>
			{% else %}
				<h2>Twój profil</h2>
				<table class="table table-bordered">
					<colgroup width="20px" align="center" />
					<colgroup align="right" span="3" />
					<thead>
						<tr>
							<th><div rel="tooltip" title="Miejsce w rankingu">#</div></th>
							<th>Punkty</th>
							<th>Jako łowca</th>
							<th>Jako ofiara</th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td>{{ position }}</td>
							<td><strong>{{ entity.pointsPrey + entity.pointsHunter }}</strong></td>
							<td>{{ entity.pointsPrey }} (meczy: {{ entity.matchesPrey }})</td>
							<td>{{ entity.pointsHunter }} (meczy: {{ entity.matchesHunter }})</td>
						</tr>
					</tbody>
				</table>
				
				<a href="{{ path('profile') }}" class="btn btn-large btn-primary pull-right">Więcej</a>
			{% endif %}
		</div>
	</div>
</div>

{% endblock %}
