{% extends 'SmartkillWebBundle::layout.html.twig' %}
{% form_theme form 'SmartkillWebBundle:Form:horizontal.html.twig' %}

{% block title %}SmartKill - Edytuj użytkownika{% endblock %}

{% block content %}

	<div class="block">
		<h2>Edytuj użytkownika</h2>
		
		<div class="row-fluid">
			<div class="span7">
				<form action="{{ app.request.getRequestUri }}" method="post" {{ form_enctype(form) }} class="form-horizontal">
					{{ form_row(form.username) }}
					{{ form_row(form.email) }}
					{{ form_row(form.admin, {attr:{class:' '}}) }}
					
					<fieldset>
						<legend>Zmień hasło</legend>
						<br />
						<div class="alert alert-info">
							Jeśli nie chcesz zmieniać hasła, pozostaw poniższe pola puste.
						</div>
						
						{{ form_widget(form) }}
					</fieldset>
					
					<div class="pull-right">
						<a href="{{ path('user',{username:entity.username}) }}">Anuluj</a>
						<span class="muted">lub</span>
						<button class="btn btn-primary btn-large" type="submit">Zapisz</button>
					</div>
				</form>
			</div>
		</div>
	</div>

{% endblock %}
