{% extends 'SmartkillWebBundle::layout.html.twig' %}

{% import 'SmartkillWebBundle:Form:question.html.twig' as question %}

{% block title %}SmartKill - {{ entity.username }}{% endblock %}

{% block content %}

	<div class="block">
		{% if is_granted('ROLE_ADMIN') %}
			<ul class="nav nav-pills pull-right">
				<li><a href="{{ path('user_edit', { 'id': entity.id }) }}"><i class="icon-pencil"></i> Edytuj</a></li>
				<li><a href="#deleteModal" data-toggle="modal"><i class="icon-remove"></i> Usuń</a></li>
			</ul>
		
			<div id="deleteModal" class="modal hide fade" tabindex="-1" role="dialog" aria-hidden="true">
				{{ question.modal('Usuń użytkownika', 'Czy jesteś pewien, że chcesz usunąć użytkownika?', deleteForm, path('user_delete', { 'id': entity.id })) }}
			</div>
		{% endif %}
		
		<h2>Użytkownik: {{ entity.username }}</h2>
		
		<div class="row-fluid">
			<div class="span4">
				<div class="thumbnail">
					<img src="{{ entity.getAvatarUrl | imagine_filter('avatar_large') }}" />
				</div>
			</div>
			<div class="span8">
				<table class="table">
					<colgroup width="150px" />
					<tr>
						<td><strong>Adres e-mail:</strong></td>
						<td><a href="mailto:{{ entity.email }}">{{ entity.email }}</a></td>
					</tr>
				</table>
			</div>
		</div>
	</div>

{% endblock %}
