{% extends 'SmartkillWebBundle::layout.html.twig' %}

{% block title %}SmartKill - Ranking{% endblock %}

{% block content %}

	<div class="block">
		<h2>Ranking</h2>
		
		<table class="table table-striped table-bordered">
			<colgroup width="20px" align="center" />
			<colgroup />
			<colgroup span="2" width="150px" align="right" />
			<thead>
				<tr>
					<th><div rel="tooltip" title="Miejsce w rankingu">#</div></th>
					<th>Gracz</th>
					<th><div rel="tooltip" title="Razem / Jako ofiara / Jako łowca">Punkty</div></th>
					<th><div rel="tooltip" title="Razem / Jako ofiara / Jako łowca">Mecze</div></th>
				</tr>
			</thead>
			<tbody>
			{% for row in pager.currentPageResults %}
				{% set entity = row[0] %}
				<tr>
					<td>{{ row['position'] }}</td>
					<td>
						<a class="table-user" href="{{ path('user', {username: entity.username}) }}">
							<img src="{{ entity.getAvatarUrl | imagine_filter('avatar_xsmall') }}" />{{ entity.username }}
						</a>
					</td>
					<td>
						<strong>{{ entity.pointsPrey + entity.pointsHunter }}</strong>
						/ {{ entity.pointsPrey }} / {{ entity.pointsHunter }}</td>
					<td>
						<strong>{{ entity.matchesPrey + entity.matchesHunter }}</strong>
						/ {{ entity.matchesPrey }} / {{ entity.matchesHunter }}
					</td>
				</tr>
			{% endfor %}
			</tbody>
		</table>
		
		{{ pagerfanta(pager) }}
	</div>

{% endblock %}
