{% extends 'SmartkillWebBundle::layout.html.twig' %}
{% form_theme form 'SmartkillWebBundle:Form:horizontal.html.twig' %}

{% block title %}SmartKill - {{title}}{% endblock %}

{% block content %}

	<div class="block">
		<h2>{{title}}</h2>
		
		<form action="{{ path(action)}}" method="post" {{ form_enctype(form) }} class="form-horizontal">
			{{ form_widget(form) }}
			
			<button class="btn btn-primary btn-large pull-right" type="submit">Zapisz</button>
		</form>
	</div>

{% endblock %}
