{% extends 'SmartkillWebBundle::layout.html.twig' %}
{% form_theme form 'SmartkillWebBundle:Form:horizontal.html.twig' %}

{% block title %}SmartKill - {{title}}{% endblock %}

{% block javascripts %}
    {{ parent() }}
	<script type="text/javascript" src="http://maps.google.com/maps/api/js?language=en&sensor=false"></script>
{% endblock %}

{% block content %}

	<div class="block">
		<h2>{{title}}</h2>
		
		<form action="{{ path(action)}}" method="post" {{ form_enctype(form) }} class="form-horizontal">
			<div class="row-fluid">
				<div class="span6">
					<fieldset class="form-tight">
						<legend>Informacje podstawowe</legend>
						{{ form_row(form.name) }}
						{{ form_row(form.dueDate) }}
						{{ form_row(form.length) }}
						{{ form_row(form.maxPlayers) }}
						{{ form_row(form.password) }}
						
						<button class="btn btn-primary btn-large pull-right" type="submit">Zapisz</button>
					</fieldset>
				</div>
				<div class="span6">
					<fieldset>
						<legend>Lokalizacja</legend>
						{{ form_row(form.size) }}
						
						<div id="map_canvas" class="map-canvas" style="height: 250px;"></div>
					</fieldset>
				</div>
			</div>
			
			{{ form_rest(form) }}
		</form>
		
		<script>
			$(function(){
				var $rad = $('#smartkill_webbundle_matchtype_size');
				var $lat = $('#smartkill_webbundle_matchtype_lat');
				var $lng = $('#smartkill_webbundle_matchtype_lng');
				
				var center = new google.maps.LatLng($lat.val(), $lng.val(), true);
				
				var map = new google.maps.Map(document.getElementById('map_canvas'), {
					mapTypeId: google.maps.MapTypeId.ROADMAP,
					zoom: 10
				});
				
				map.setCenter(center);
				
				var circle = new google.maps.Circle({
					map: map,
					center: center,
					radius: $rad.val() * 1000,
					strokeWeight: 2
				});
				
				var marker = new google.maps.Marker({
					position: center, 
					map: map,
					draggable: true
				});
				
				google.maps.event.addListener(marker, 'position_changed', function() {
					var p = marker.getPosition();
					circle.setCenter(p);
					$lat.val(p.lat());
					$lng.val(p.lng());
				});
				
				$rad.change(function(){
					circle.setRadius($rad.val() * 1000);
				});
			});
		</script>
	</div>

{% endblock %}
