{% extends 'SmartkillWebBundle::layout.html.twig' %}

{% block title %}SmartKill - Mecze{% endblock %}

{% block content %}

	<div class="block">
		<h2>Mecze</h2>
		
		<table id="grid">
			<tr>
				<th>Nazwa</th>
				<th>Data</th>
				<th>Rozmiar</th>
				<th>Graczy</th>
			</tr>
			{% for match in matches %}
				<tr>
					<td>{{ match.getName() }}</td>
					<td>{{ match.getDueDate().format('d.m.Y') }}</td>
					<td>{{ match.getSize() }}</td>
					<td>{{ match.getMaxPlayers() }}</td>
	        	</tr>
	    	{% endfor %}
    	</table>
    	
    	<a href="{{ path('match_create') }}">Utwórz mecz</a>
	</div>

{% endblock %}
