{% extends 'SmartkillWebBundle::layout.html.twig' %}
{% form_theme form 'SmartkillWebBundle:Form:horizontal.html.twig' %}

{% block title %}SmartKill - Mecze{% endblock %}

{% block content %}

	<div class="block">
		<h2>Utwórz mecz</h2>

		<form action="{{ path('match_create') }}" method="post" {{ form_enctype(form) }}>
		    {{ form_widget(form) }}
		    {{ google_map_container(map) }}
		    {{ google_map_js(map) }}
		    
		    <p>
		    	<button class="btn btn-primary btn-large pull-right" type="submit">Utwórz</button>
		    </p>
		</form>
		
		<ul class="record_actions">
		    <li>
		        <a href="{{ path('match') }}">
		        	Powrót do listy
		        </a>
		    </li>
		</ul>
	</div>

{% endblock %}