{% extends 'SmartkillWebBundle::layout.html.twig' %}

{% import 'SmartkillWebBundle:Form:question.html.twig' as question %}

{% block title %}SmartKill - {{ entity.name }}{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('js/jquery.form.js') }}" type="text/javascript"></script>
    <script src="{{ asset('js/jquery.ui.js') }}" type="text/javascript"></script>
    <script src="{{ asset('js/match.show.js') }}" type="text/javascript"></script>
    <script src="{{ asset('js/match.listing.js') }}" type="text/javascript"></script>
	<script type="text/javascript" src="http://maps.google.com/maps/api/js?language=en&sensor=false"></script>
{% endblock %}

{% block content %}

	<div class="block">
		<ul class="nav nav-pills pull-right">
			{% if canManage %}
				<li><a href="{{ path('match_edit', { 'id': entity.id }) }}"><i class="icon-pencil"></i> Edytuj</a></li>
			{% endif %}
			
			{% if is_granted('ROLE_ADMIN') %}
				<li><a href="#deleteModal" data-toggle="modal"><i class="icon-remove"></i> Usuń</a></li>
			{% endif %}
		</ul>
		
		{% if is_granted('ROLE_ADMIN') %}
			<div id="deleteModal" class="modal hide fade" tabindex="-1" role="dialog" aria-hidden="true">
				{{ question.modal('Usuń mecz', 'Czy jesteś pewien, że chcesz usunąć mecz?', deleteForm, path('match_delete', { 'id': entity.id })) }}
			</div>
		{% endif %}
		
		<h2>Mecz: {{ entity.name }} </h2>
		
		<div class="row-fluid">
			<div class="span5">
				<div id="map" class="map-canvas" style="height: 360px;"
					data-lat="{{ entity.lat }}" data-lng="{{ entity.lng }}" data-size="{{ entity.size }}"
					data-lat2="{{ random.lat }}" data-lng2="{{ random.lng }}"
				></div>
				
				{% if not joined and is_granted('ROLE_USER') %}
			    	<form id="pass-form" data-pass="{{ entity.hasPassword }}" action="{{ path('match_join', { 'id': entity.id }) }}" method="post">
			    		<div id="pass-error" class="alert alert-error hide">Hasło nieprawidłowe</div>
			    		
						<div id="pass-input" class="hide">
			    			{{ form_row(joinForm.password,{attr:{class:'span12'}}) }}
			    			{{ form_rest(joinForm) }}
			    		</div>
			    		
			    		<div class="pull-center">
							<button class="btn btn-primary btn-large" type="submit">Dołącz</button>
						</div>
			        </form>
				{% endif %}
			</div>
			<div class="span7">
				<table class="table">
					<colgroup width="150px" />
					<tr>
						<td><strong>Status:</strong></td>
						<td>{{ entity.getStatus }}</td>
					</tr>
					<tr>
						<td><strong>Organizator:</strong></td>
						<td><a href="{{ path('user', { username: entity.createdBy.username }) }}">{{ entity.createdBy.username }}</a></td>
					</tr>
					<tr>
						<td><strong>Data rozpoczęcia:</strong></td>
						<td>{{ entity.dueDate|date('Y-m-d H:i') }}</td>
					</tr>
					<tr>
						<td><strong>Czas trwania:</strong></td>
						<td>{{ entity.getLengthDesc }}</td>
					</tr>
					<tr>
						<td><strong>Graczy:</strong></td>
						<td>{{ entity.players.count }} / {{ entity.maxPlayers }}</td>
					</tr>
					<tr>
						<td><strong>Lokalizacja:</strong></td>
						<td>Lat: {{ entity.lat }}, Lng: {{ entity.lng }}, R={{ entity.size }}</td>
					</tr>
				</table>
				
				{% if entity.descr %}
					<p class="well well-small">{{ entity.descr|nl2br }}</p>
				{% endif %}
			</div>
		</div>
		
		{% if canManage %}
			<div class="alert alert-info" id="players-manage">
				Przeciągaj użytkowników pomiędzy grupami, aby zmieniać ich rolę w meczu.
			</div>
		{% endif %}
		
		<div class="row-fluid">
			<div class="span6">
				{% macro user(mu) %}
					<div class="user" 
						data-switch="{{ path('match_user_switch', { 'id': mu.match.id, 'user': mu.user.id }) }}"
						data-delete="{{ path('match_user_delete', { 'id': mu.match.id, 'user': mu.user.id }) }}"
					>
						<a href="{{ path('user', { username: mu.user.username }) }}">
							<img src="{{ mu.user.getAvatarUrl | imagine_filter('avatar_small') }}" alt="" />
							{{ mu.user.username }}
							<div class="user-points"><div rel="tooltip" title="Zdobyte&nbsp;punkty">5</div></div>
						</a>
					</div>
				{% endmacro %}
				
				<h3>Łowcy</h3>
				<div class="users" id="hunters">
					{% for mu in hunters %}
						{{ _self.user(mu) }}
					{% endfor %}
				</div>
			</div>
			<div class="span6">
				<h3>Ofiary</h3>
				<div class="users" id="preys">
					{% for mu in preys %}
						{{ _self.user(mu) }}
					{% endfor %}
				</div>
			</div>
		</div>
		
		<div class="alert alert-error alert-block hide" id="delete">
			Upuść tutaj, aby usunąć gracza z meczu.
		</div>
		
		{% if not entity.isStatus('planed') %}
			<h3>Wydarzenia</h3>
			
			<table class="table table-striped table-bordered">
				<colgroup span="1" />
				<colgroup span="1" width="150px" align="center" />
				<colgroup span="1" width="80px" />
				<thead>
					<tr>
						<th>Zdarzenie</th>
						<th>Data</th>
						<th>Lokalizacja</th>
					</tr>
				</thead>
				<tbody>
				{% for event in entity.events %}
					<tr>
						{% if event.getType == 'catch' %}
							<td>
								<a href="{{ path('user', {username:event.hunter.username}) }}">{{ event.hunter.username }}</a> 
								złapał gracza
								<a href="{{ path('user', {username:event.prey.username}) }}">{{ event.prey.username }}</a> 
							</td>
						{% elseif event.getType == 'found' %}
							<td>
								<a href="{{ path('user', {username:event.player.username}) }}">{{ event.player.username }}</a> 
								zdobył paczkę {{ event.package.type }}
							</td>
						{% endif %}
						
						<td>{{ event.date|date('Y-m-d H:i') }}</td>
						<td>
							<a href="#mapModal" role="button" class="btn btn-small btn-block mapModalBtn" 
								data-lat="{{ entity.lat }}" data-lng="{{ entity.lng }}" data-radius="{{ entity.size }}"
								data-point-lat="{{ event.lat }}" data-point-lng="{{ event.lng }}"
							>
								<i class="icon-globe"></i> Mapa
							</a>
						</td>
					</tr>
				{% endfor %}
				</tbody>
			</table>
			
			<div id="mapModal" class="modal hide fade" tabindex="-1" role="dialog" aria-hidden="true">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
					<h3>Lokalizacja</h3>
					<span id="mapModalDesc"></span>
				</div>
				<div class="modal-body">
					<div id="map-modal" class="map-canvas" style="height: 350px;"></div>
				</div>
			</div>
		{% endif %}
	</div>
	
{% endblock %}
